<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>EMI & Loan Calculator</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="stylesheet" type="text/css" href="css/montserrat-font.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <ul
      class="nav nav-pills justify-content-center"
      id="pills-tab"
      role="tablist"
    >
      <li class="nav-item m-2">
        <a
          class="nav-link"
          id="pills-home-tab"
          data-toggle="pill"
          href="index.html"
          role="tab"
          aria-controls="pills-home"
          aria-selected="false"
          >EMI Calculator</a
        >
      </li>
      <li class="nav-item m-2">
        <a
          class="nav-link active"
          id="pills-profile-tab"
          data-toggle="pill"
          href="secondpage.html"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="true"
          >Eligibility Calculator</a
        >
      </li>
    </ul>

    <div id="app" class="page-content">
      <div class="form-v10-content">
        <form class="form-detail">
          <div class="form-left">
            <h2>Eligibility Calculator</h2>

            <div class="form-row">
              <h4>Monthly Income</h4>
              <input
                type="text"
                v-model="monthlyincome"
                placeholder="Enter Monthly Income(Indian Rupees)"
                required
              />
            </div>

            <div class="form-row">
              <h4>Interest Rate</h4>
              <input
                type="text"
                v-model="interest"
                placeholder="Interest Rate (Per Annum)"
                required
              />
            </div>
            <div class="form-row">
              <h4>Duration</h4>
              <input
                required
                type="text"
                v-model="duration"
                placeholder="Duration (Years)"
              />
            </div>
            <div class="form-row">
              <h4>Current EMI's</h4>
              <input
                required
                type="text"
                v-model="currentEMI"
                placeholder="Current EMI's Being Paid , Enter 0 If None"
              />
            </div>
            <button
              type="submit"
              class="btn btn-dark btn-lg btn-block"
              @click.prevent="calculateEligibility()"
            >
              Calculate
            </button>

            <div v-cloak v-show="submitted1">
              <div class="form-row">
                <h4></h4>
              </div>
              <div class="form-row">
                <h4>Maximum Loan Amount: {{maximumLoanAmount}}</h4>
              </div>
              <div class="form-row">
                <h4>EMI on Loan: {{emi}}</h4>
              </div>
              <div class="form-row">
                <h4>Maximum Home Value: {{maximumHomeValue}}</h4>
              </div>
              <div class="form-row">
                <h4>Interest Payable: {{interestAmount}}</h4>
              </div>
              <div class="form-row">
                <h4>Total Amount: {{totalAmount}}</h4>
              </div>
            </div>
          </div>

          <div class="form-right">
            <h2>Graph</h2>
          </div>
        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>

    <script>
      var vm = new Vue({
        el: "#app",

        data: {
          amount: "",
          interest: "",
          duration: "",
          durationInMonths: "",
          submitted1: false,
          emi: "",
          interest: "",
          totalAmount: "",
          interestAmount: "",
          interestPerMonth: "",
          interest2: "",
          monthlyincome: "",
          currentEMI: "",
          emiPerMonth: "",
          emiPerLakh: "",
          maximumLoanAmount: "",
          maximumHomeValue: "",
        },

        methods: {
          calculateEligibility: function () {
            this.submitted1 = true;
            this.interestPerMonth = this.interest / 12 / 100;
            this.interest2 = this.interestPerMonth + 1;
            this.durationInMonths = this.duration * 12;
            this.interest2 = Math.pow(this.interest2, this.durationInMonths);
            this.emiPerLakh =
              100000 *
              this.interestPerMonth *
              (this.interest2 / (this.interest2 - 1));
            this.maximumLoanAmount =
              ((this.monthlyincome * 0.6 - this.currentEMI) / this.emiPerLakh) *
              100000;
            this.maximumHomeValue = this.maximumLoanAmount / 0.8;
            this.maximumLoanAmount = Math.round(this.maximumLoanAmount);
            this.maximumHomeValue = Math.round(this.maximumHomeValue);
            this.emi =
              this.maximumLoanAmount *
              this.interestPerMonth *
              (this.interest2 / (this.interest2 - 1));
            this.emi = Math.round(this.emi);
            this.totalAmount = this.duration * 12 * this.emi;
            this.interestAmount = this.totalAmount - this.maximumLoanAmount;
          },
        },
      });
    </script>
  </body>
</html>
